<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>Цветочный магазин | Контакты</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="icon.png">
  <!-- SCRIPTS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body background="pattern.jpg">

<!--NAV-->
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient sticky-top border-bottom border-dark font-monospace">
  <div class="container-fluid">
    <a class="navbar-brand" href="index">
      <img src="icon.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
      Цветочек</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="index">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shop">Магазин</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="true">
            О нас
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="masters">Наши мастера</a></li>
            <li><a class="dropdown-item" href="contacts">Контакты</a></li>
          </ul>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item">
          <a class="nav-link" href="/login">Войти</a>
        </li>
        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
             data-bs-toggle="dropdown" aria-expanded="true" sec:authentication="name">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="lk">Личный кабинет</a></li>
            <li><a class="dropdown-item" href="cart">Корзина</a></li>
            <li><a class="dropdown-item" href="/logout">Выйти</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--MAIN-->
<main class="container-fluid fade show bg-light bg-gradient" style="--bs-bg-opacity: .75;">
  <div class="row min-vh-100">
    <div class="col-md-6 m-auto">
      <iframe class="container-fluid"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.3729499497217!2d37.61530535122988!3d55.75202328045771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a50b315e573%3A0xa886bf5a3d9b2e68!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0JrRgNC10LzQu9GM!5e0!3m2!1sru!2sru!4v1649174809948!5m2!1sru!2sru"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div style="font-family: 'Comic Sans MS', serif;" class="col-md-6 text-justify m-auto lh-lg p-5">
      <address>
        <b>ООО "Цветочек"</b>
        <br>Москва, 103132
        <br>ул.Боровицкая, Кремль
        <br><b>Метро:</b>
        <br>Охотный ряд, Александровский сад
        <br><b>Координаты:</b>
        <br>55.751999,37.617734
        <br><b>Телефон:</b>
        <br><a href="tel:+78008888888">+7(800)-888-88-88</a>
      </address>
    </div>
  </div>
</main>

<!--FOOTER-->

<footer class="card-footer border-top border-dark bg-light bg-gradient">
  <div class="d-flex flex-row justify-content-between">
    <div class="m-auto">
      <a class="text-black" style="text-decoration: none" href="https://github.com">
        <img src="github.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
        ГитХаб
      </a>
    </div>
    <div class="m-auto">
      <a class="text-black" style="text-decoration: none" href="https://t.me">
        <img src="tg-icon.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
        Телеграм
      </a>
    </div>
    <div class="m-auto">
      <a class="text-black" style="text-decoration: none" href="https://vk.com">
        <img src="vk-icon.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
        Вконтакте
      </a>
    </div>
  </div>
</footer>

</body>
</html>